APP_NAME=LK
APP_ENV=local

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=lk
DB_USER=root
DB_PASS=

# Network devices
MIKROTIK_HOST=192.168.1.129
PROXMOX_HOST=192.168.1.238
TEST_VM_SSH_HOST=192.168.1.238

# MikroTik RouterOS API
MIKROTIK_USER=admin
MIKROTIK_PASSWORD=3103
MIKROTIK_PORT=8728
MIKROTIK_USE_SSL=0
MIKROTIK_TIMEOUT=10

# VPN / WireGuard
VPN_WG_INTERFACE_NAME=wireguard1
VPN_SERVER_IP=192.168.1.129
VPN_SERVER_PORT=51820
VPN_DNS=8.8.8.8
VPN_ROUTER_PUBLIC_KEY=NQEKomIrbQprMIcbV7DLFQc16N6M/FQtG/j6K9Ry6CQ
VPN_USER_IP_PREFIX=192.168.0.
VPN_MAX_CLIENTS=253
VPN_ALLOWED_IPS=192.168.100.0/24, 192.168.102.0/24, 192.168.109.1/32
VPN_EXTRA_INTERFACE_ADDRESSES=192.168.109.1/32, 192.168.100.0/24
VPN_PERSISTENT_KEEPALIVE=25

# Proxmox API
PROXMOX_USER=root
PROXMOX_PASSWORD=20263103
PROXMOX_REALM=pam
PROXMOX_PORT=8006

# DNS
DNS_DEFAULT_ZONE=vnii.local

# SSH admin key
SSH_ADMIN_PRIVATE_KEY_PATH=storage/keys/lkadmin_site_id_ed25519

# Test VM
TEST_VM_VMID=101
TEST_VM_NODE=prox
TEST_VM_TYPE=qemu
TEST_VM_SSH_PORT=2224
TEST_VM_SSH_USER=lkadmin